extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what All Activity
			.float-right.actions
				a.button.yellow.outlined.sm Sort by
				a.button.red.outlined.sm Clear all
		.inner
			.activity
				.activities
					h3.what Today
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 1 minute ago]
					.module
						p #[i.material-icons.text-purple person_pin] #[a John Appleseed] has joined #[a Marketing team] #[span 3 minutes ago]
					.module
						p #[i.material-icons.text-yellow person_pin] #[a Christina Snow] has edited a #[a note] #[span 8 minutes ago]
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 20 minutes ago]
				.activities
					h3.what Yesterday
					.module
						p #[i.material-icons.text-yellow person_pin] #[a Ricky Johnson] has edited a #[a note] #[span 14 hours ago]
					.module
						p #[i.material-icons.text-green note_add] John created a #[a note] in #[a Design Team] #[span 23 hours ago]
