extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what All Activity
			.float-right.actions
				a.button.yellow.outlined.sm Sort by
				a.button.red.outlined.sm Clear all
		.inner
			.summary.light
				.grid-row
					.xs-12
						.intro
							.desc
								h5 Today
						.unit
							h6 #[i.material-icons.text-green note_add] You created a #[a note]
							small 1 minute ago
						.unit
							h6 #[i.material-icons.text-green note_add] You created a #[a note]
							small 1 minute ago
						.unit
							h6 #[i.material-icons.text-green note_add] You created a #[a note]
							small 1 minute ago
			.summary.light
				.grid-row
					.xs-12
						.intro
							.desc
								h5 Yesterday
						.unit
							h6 #[i.material-icons.text-green note_add] You created a #[a note]
							small 1 minute ago
						.unit
							h6 #[i.material-icons.text-green note_add] You created a #[a note]
							small 1 minute ago
						.unit
							h6 #[i.material-icons.text-green note_add] You created a #[a note]
							small 1 minute ago
