extends ../layout

block content
	include ../static/dashboard/nav.pug
	.strip
		.contain
			.bind
				.about
					h4.what Activity Log
					h6 Day split of private &amp; group activity
				.float-right.actions
					a.switch_trigger.button.invert.sm(data-switch="switch_activities") Filter by...
				.switches.right#switch_activities
					a.switch(data-select="all") #[b All activity]
						span Unfiltered activity
					a.switch(data-select="create_note") #[b Created notes]
						span Filter by note creation
					a.switch(data-select="delete_note") #[b Deleted notes]
						span Filter by note deletion
					a.switch(data-select="sent_invite") #[b Sent invites]
						span Filter by invites sent
					a.switch(data-select="accepted_invite") #[b Accepted invites]
						span Filter by invites accepted
					a.switch(data-select="declined_invite") #[b Declined invites]
						span Filter by invites declined
			
	.contain
		.inner#activities_list
		.empty
			img(src="/images/empty-activities.jpg", alt="")
			h5 You're not very active are you?
			p Just go about your day, your teams and own activity will appear here.
