extends ../layout

block content
	include ../static/dashboard/nav.pug
	nav.nav.sub
		.wrap
			h4.what All Activity
			.float-right
				.floating-icon
					i.material-icons.text-yellow sort
					span Sort
				.floating-icon
					i.material-icons.text-red clear_all
					span Clear All
	.wrap
		.inner
			.activity
				.divider.horizontal.mt_null Today
				.module
					p #[i.material-icons.text-green note_add] You created a #[a note] #[span 1 minute ago]
				.module
					p #[i.material-icons.text-purple person_pin] #[a John Appleseed] has joined #[a Marketing team] #[span 3 minutes ago]
				.module
					p #[i.material-icons.text-yellow person_pin] #[a Christina Snow] has edited a #[a note] #[span 8 minutes ago]
				.module
					p #[i.material-icons.text-green note_add] You created a #[a note] #[span 20 minutes ago]
				.divider.horizontal Yesterday
				.module
					p #[i.material-icons.text-yellow person_pin] #[a Ricky Johnson] has edited a #[a note] #[span 14 hours ago]
				.module
					p #[i.material-icons.text-green note_add] John created a #[a note] in #[a Design Team] #[span 23 hours ago]
