extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what All Activity
			.float-right.actions
				a.button.yellow.outlined.sm Sort by
				a.button.red.outlined.sm Clear all
		.inner#activities
