extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what Dashboard
			.float-right.actions
				a.button.purple.outlined.sm Metrics
				a.button.primary.sm New note
		.inner#dashboard
			.grid-row
				.l-5.xs-12
					h3.what Recent Notes
					.recent
						.section.note
							.body
								h4 Data mining: Classifiers
								span.type Private Note
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							.footer
								span.created Created by #[a Stefan Mansson]
								span.date 29th January 2016
					.recent
						.section.note
							.body
								h4 Microsoft release landing page
								span.type Marketing Team
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.footer
								span.created Created by #[a John Lewis]
								span.date 10th December 2015

				.activity.l-7.xs-12
					h3.what Recent Activity
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 1 minute ago]
					.module
						p #[i.material-icons.text-purple person_pin] #[a John Appleseed] has joined #[a Marketing team] #[span 3 minutes ago]
					.module
						p #[i.material-icons.text-yellow person_pin] #[a Christina Snow] has edited a #[a note] #[span 8 minutes ago]
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 20 minutes ago]
