extends ../layout

block content
	include ../static/dashboard/nav.pug
	.strip
		.contain
			.bind
				.about
					h4.what Dashboard
					h6 Check out what's happening
	.contain
		.inner#dashboard
			.grid-row
				.l-5.xs-12
					.summary
						.grid-row
							.xs-12
								.intro
									.desc 
										h5 Your recently updated notes
							.xs-12
								for note in notes
									.unit(class= selected == note._id ? "open__selected" : "", data-note=note._id, data-run="get_note")
										h6(class=(note.status == 1) ? 'medium-p': (note.status == 2) && 'high-p') #{note.title}
										small= note.group.name
										.content_plain
											p= note.plain
				.l-7.xs-12
					.summary.light
						.grid-row
							.xs-12
								.intro
									.desc
										h5 Recent Activity
							.xs-12#recent_activity
