extends ../layout

block content
	include ../static/dashboard/nav.pug
	.wrap
		.inner#dashboard
			h2.what Dashboard
			.grid-row
				.l-5.xs-12
					h3.what Recent notes
					.recent
						.section.note
							.date
								h3 29
								h6 Jan
							h4 What did abc do on?
							p Some detail here about what the note is about, truncate the text to only cover a few lines, can be done with Pug.
							p.created Created by #[a Stefan Mansson]
					.recent
						.section.note
							.date
								h3 29
								h6 Jan
							h4 What did abc do on?
							p Some detail here about what the note is about, truncate the text to only cover a few lines, can be done with Pug.
							p.created Created by #[a Stefan Mansson]
				.activity.l-7.xs-12
					h3.what Recent activity
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 1 minute ago]
					.module
						p #[i.material-icons.text-purple person_pin] #[a John Appleseed] has joined #[a Marketing team] #[span 3 minutes ago]
					.module
						p #[i.material-icons.text-yellow person_pin] #[a Christina Snow] has edited a #[a note] #[span 8 minutes ago]
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 20 minutes ago]
