extends ../layout

block content
	include ../static/dashboard/nav.pug
	.strip
		.contain
			.bind
				.about
					h4.what Dashboard
					h6 Check out what's happening
	.contain
		.inner#dashboard
			.grid-row
				.l-5.xs-12
					.summary
						.grid-row
							.xs-12
								.intro
									.desc
										span.text-preview D
										h5 Design Group
							.xs-12
								.unit
									h6 New note
									small Modified 2 days ago
									.content_plain
										p Note content
				.l-7.xs-12
					.summary.light
						.grid-row
							.xs-12
								.intro
									.desc
										h5 Recent Activity
							.xs-12#recent_activity
