extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what Dashboard
			.float-right.actions
				a.button.green.sm New Note
		.inner#dashboard
			.grid-row
				.l-5.xs-12
					.summary
						.grid-row
							.xs-12
								.intro
									.desc
										span.text-preview D
										h5 Design Team
							.xs-12
								.unit
									h6 New note
									small Modified 2 days ago
									.content_plain
										p Note content
				.l-7.xs-12
					.summary.light
						.grid-row
							.xs-12#ls-teams
								.intro
									.desc
										h5 Recent Activity
								.unit
									h6 #[i.material-icons.text-green note_add] You created a #[a note]
									small 1 minute ago
								.unit
									h6 #[i.material-icons.text-green note_add] You created a #[a note]
									small 1 minute ago
								.unit
									h6 #[i.material-icons.text-green note_add] You created a #[a note]
									small 1 minute ago
