extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what Dashboard
			.float-right.actions
				a.button.green.sm New Note
		.inner#dashboard
			.grid-row
				.l-5.xs-12
					h3.what Recent Notes
					.recent
						.section.note
							.body
								h4 Note 1
								span.type Private Note
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
							.footer
								span.created Created by #[a Stefan Mansson]
								span.date Updated 2 minutes ago
					.recent
						.section.note
							.body
								h4 Note 2
								span.type Marketing Team
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
							.footer
								span.created Created by #[a John Lewis]
								span.date Updated 6 minutes ago

				.activity.l-7.xs-12
					h3.what Recent Activity
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 1 minute ago]
					.module
						p #[i.material-icons.text-purple person_pin] #[a John Appleseed] has joined #[a Marketing team] #[span 3 minutes ago]
					.module
						p #[i.material-icons.text-yellow person_pin] #[a Christina Snow] has edited a #[a note] #[span 8 minutes ago]
					.module
						p #[i.material-icons.text-green note_add] You created a #[a note] #[span 20 minutes ago]
