extends ../layout

block content
	.logo.pinned
		img(src="images/apse-gr.png", height="30")
	if (user)
		.dropdown.right.user.pinned
			a.toggle
				img(height="20", src=user.avatar)
				span= user.firstname + ' ' + user.lastname
				i.material-icons &#xE5C5;
			ul.menu
				li
					a Dashboard
				li
					a Account
				li
					a Download apps
				li.divider
				li
					a Logout
	else
		.user.pinned
			a Don&#39;t have an account?
	.name.centered.horizontal= o.name
	section.display
		.inner
			img(src=oUrl)

	include ../static/nav
