extends ../layout

block head
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500")
	link(rel="stylesheet", href="css/codemirror.css")
	script(src='//codemirror.net/lib/codemirror.js')
	script(src='//codemirror.net/mode/scheme/scheme.js')
	script(src='//codemirror.net/addon/mode/loadmode.js')
	script(src='//codemirror.net/mode/meta.js')

block content
	input#mode(type="text", value="application/javascript")
	textarea#notekeep.notekeep_content

block footer
	script.
		CodeMirror.modeURL = "//codemirror.net/mode/%N/%N.js"
		var editor = CodeMirror.fromTextArea(document.getElementById("notekeep"), {
			lineNumbers: true
		})
		var modeInput = document.getElementById("mode")
		CodeMirror.on(modeInput, "keypress", function(e) {
			if (e.keyCode == 13) change()
		})

		function change() {
			var val = modeInput.value, m, mode, spec
			if (/\//.test(val)) {
				var info = CodeMirror.findModeByMIME(val)
				if (info) {
					mode = info.mode
					spec = val
				}
			} else {
				mode = spec = val
			}
			if (mode) {
				editor.setOption("mode", spec)
				CodeMirror.autoLoadMode(editor, mode)
			} else {
				console.log('MIME type not found')
			}
		}
