extends ../layout

block content
	include ../static/dashboard/nav.pug
	nav.nav.sub
		.wrap
			h4.what My Notes
			.float-right
				.floating-icon
					i.material-icons.text-grey settings
					span Settings
				.floating-icon
					i.material-icons.text-yellow group_work
					span Teams
				.floating-icon
					i.material-icons.text-green library_add
					span New note
