extends ../layout

block head
	link(rel="stylesheet", type="text/css", href="/css/medium-editor.min.css")

block content
	include ../static/dashboard/nav.pug
	nav.nav.sub
		.wrap
			h4.what My Notes
			.float-right
				.floating-icon
					i.material-icons.text-grey settings
					span Settings
				.floating-icon
					i.material-icons.text-yellow group_work
					span Teams
				.floating-icon#in_newnote
					i.material-icons.text-green library_add
					span New Note
	.notes
		.fit
			.note
				h3 Note one
				p Text should be truncated when min width
				small 3 minutes ago
			.note
				h3 Note two
				p Long note text should be truncated anyway when text is longer than the container
				small 29th January 2016
			p.tip.text-center Here is the list of all your private notes, click "#[strong New Note]" at the top right to add to add more to this workspace.
	.display
		.fit
			.empty.centered.text-center
				i.material-icons mood_bad
				h4 Nothing selected
				p Select a note to display
			.filled
				.note_header
					.note_header-avatar
						img(src=user.avatar)
					.note_header-desc
						small= user.firstname + ' ' + user.lastname
						h3(contenteditable="true", placeholder="Untitled")
				.note_content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

block footer
	script(src="/js/medium-editor.min.js")
	script.
		var editor = new MediumEditor('.note_content', {
			placeholder: {
				text: 'Start typing...',
				hideOnClick: true
			},
			toolbar: {
				allowMultiParagraphSelection: true,
				buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
				firstButtonClass: 'medium-editor-button-first',
				lastButtonClass: 'medium-editor-button-last',
				relativeContainer: null,
				standardizeSelectionStart: false,
				static: false,
				align: 'center',
				sticky: false,
				autoLink: true,
				updateOnEmptySelection: false
			},
			anchor: {
			 placeholderText: 'Type a link'
			 }
		})
		$('.medium-editor-toolbar-save').html('<i class="material-icons">check</i>')
		$('.medium-editor-toolbar-close').html('<i class="material-icons">clear</i>')
