extends ../layout

block content
	.passport
		.logo
			img(src="images/logo_dark.png")
		h4 Got an Alpha code? Great!
		p.explanation.sub Create your account below:
		form(autocomplete="off")
			.split
				.input
					input#username.lg(type="text", placeholder="Username", name="username")
				.input
					input#firstname.lg(type="text", placeholder="First name", name="firstname")
				.input
					input#lastname.lg(type="text", placeholder="Last name", name="lastname")
				.input
					input#email.lg(type="text", placeholder="Email", name="email")
			.split
				.input
					input#password.lg(type="password", placeholder="Password", name="password")
				.input
					input#repassword.lg(type="password", placeholder="Repeat password", name="repassword")
			.split
				a#signup.button.primary.button-block.lg Sign up
			small Already have an account?
				a(href="/signin") &nbsp;Sign in
