extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what Teams
			.float-right.actions
				a.button.grey.outlined.sm Settings
				a.button.primary.sm(data-modal="open", data-modal-name="modal_team") New team
