extends ../layout

block content
	include ../static/dashboard/nav.pug
	nav.nav.sub
		.wrap
			h4.what Teams
			.float-right
				.floating-icon
					i.material-icons.text-grey settings
					span Settings
				.floating-icon
					i.material-icons.text-green group_add
					span New Team
