nav.nav.pin.top
	.wrap
		a.logo(href="/")
			img(src="images/logo_primary.png")
		.float-right
			ul.options
				li(class= selected == "dashboard" ? "active" : "")
					a(href="/") Dashboard
				li(class= selected == "notes" ? "active" : "")
					a(href="/notes") Notes
				li(class= selected == "teams" ? "active" : "")
					a(href="/teams") Teams
			.user.dropdown.right
				a.toggle
					img(src="images/avatar.png")
					span= user.username
						i.material-icons arrow_drop_down
				ul.menu
					li.header= user.firstname + ' ' + user.lastname
					li.header.sub= user.email
					li.divider
					li #[a(href="/note/new") New note...]
					li #[a(href="/settings") My account]
					li #[a(href="/teams") Manage teams]
					li #[a.text-red Sign out]
