nav.nav.pin.top(class= shard ? "shard" : "")
	.contain
		if (shard)
			a.logo(href="/")
				img(src="/images/logo_dark.png")
		else
			a.logo(href="/")
				img(src="/images/logo_white.png")
		if (user)
			.float-right
				ul.options
					if (!shard)
						li(class= selected == "dashboard" ? "active" : "")
							a(href="/") Dashboard
						li(class= selected == "notes" ? "active" : "")
							a(href="/notes") Notes
						li(class= selected == "groups" ? "active" : "")
							a(href="/groups") Groups
					else
						li
							a.present(data-run="presentation_mode") #[i.material-icons present_to_all] Toggle Presentation mode

					li(class= selected == "activity" ? "active" : "")
						a(href="/activity") #[i.material-icons notifications]
				.user.dropdown.right
					a.toggle
						svg(height="200", width="200", data-jdenticon-hash=user.avatar)
						span= user.username
							i.material-icons arrow_drop_down
					ul.menu
						li.header= user.firstname + ' ' + user.lastname
						li.header.sub= user.email
						li.divider
						li #[a(href="/invites") Invites]
						li #[a(href="/settings") My Account]
						li #[a(href="/groups") Manage Groups]
						li #[a.text-red(href="/signout") Sign Out]
		else
			.float-right
				ul.options
					if (shard)
						li
							a.present(data-run="presentation_mode") #[i.material-icons present_to_all] Toggle Presentation mode
					li
						a(href="/signin") Sign in
					li
						a(href="/signup") Sign up
