nav.nav.pin.top
	.wrap
		img.logo(src="images/logo_primary.png")
		.float-right
			ul.options
				li
					a Notes
				li
					a Teams
			.user
				img(src="images/avatar.png")
				span= user.username
					i.material-icons arrow_drop_down
