html
	min-height 100%
	width 100%
	height 100%
	&.auto
		height auto

body
	cf()
	min-height 100%
	height 100%
	color text-grey
	&.light
		background-color color-smoke

p.sub
	color body-color

.passport
	center(800px, 20px)
	text-align center
	padding-bottom 10em
	cf()
	small
		margin-top 1.4em
		display block
	p.explanation
		padding .7em 0 2.5em 0
		letter-spacing .4px
	.logo
		padding 3em 0 3em 0
	.split
		.button
			display block
			margin 0 auto
			width 100%
			max-width 24em
			height em-height
		.input + .input
			input
				margin-top .7em
		& + .split
			margin-top 1.6em

nav.nav
	display block
	width 100%
	height 4.2em
	background-color #fff
	border-bottom 1px solid color-smoke
	.float-right > *
		display inline-block
		vertical-align top
	.logo
		img
			height 1.6em
			relative top 1.32em
			cf()
	.user
		line-height 1.7em
		relative top 1.22em
		cursor pointer
		&:hover span
			color text-lighter-link-hover
		span
			vertical-align top
			text-transform capitalize
			margin-left .6em
			color text-lighter-link

		img
			height 1.7em
			border-radius 50%

	ul.options
		line-height 3.4em
		margin-right 2em
		padding-right 2em
		border-right 1px solid color-smoke
		li + li
			margin-left 2em !important

ul.options
	margin-bottom 1.4em
	li
		padding .4em 0
		display inline-block
		vertical-align top
		a
			color text-lighter-link
			cursor pointer
			&:hover
				color text-lighter-link-hover
		&.active a
			color primary-color !important
		& + li
			margin-left 2.8em

.inner
	margin-top 3.6em
	padding 3.6em 0
	h2.what
		font-weight 900
		margin-bottom 1.2em
		font-size 2.1em
	h3.what
		font-weight 400
		margin-bottom .8em
		font-size 1.1em
	&#settings
		.input h6
			font-size font-size-standard
			line-height 1em
			margin-bottom .8em

.section
	border 1px solid border-gray
	padding 2.5em 2.6em
	border-radius border-radius-xl
	background-color #fff
	box-shadow: 0 1px 1px 0 box-shadow-gray
	.sub
		display block
		padding .3em 0 .6em 0
		border-bottom 1px solid border-gray
		width 100%
		cf()
		font-size 1.4em
		margin-bottom 1.4em
	.input + .input
		margin-top 2.2em
	& + .section
		margin-top 2em
	.button
		margin-top 1.4em
	&.note
		text-align center
		font-weight 600
		position relative
		padding 3em 4em 2.5em 4em
		&:hover
			border-color color-primary
			cursor pointer
		h4
			font-size 1.8em
		p
			color text-lighter-link
			font-weight 400
			margin-top .6em
			&.created
				margin-top 1.6em
		.date
			absolute bottom 1.2em right 1.2em
			h3
				font-weight 900
				font-size 1.7em
			h6
				font-weight 900
				letter-spacing 2px
				font-size 1em
				color text-lighter-link
				text-transform uppercase

.recent + .recent
	margin-top 1.4em
