html
	min-height 100%
	width 100%
	height 100%
	&.auto
		height auto

body
	cf()
	min-height 100%
	height 100%
	color text-grey
	&.light
		background-color color-smoke

p.sub
	color body-color

.select
	box-shadow inset 0 0 2px border-gray
	width 1.6em
	height 1.6em
	border-radius border-radius-normal
	content ''
	display inline-block
	&.selected
		box-shadow inset 0 0 20px color-green


.passport
	center(800px, 20px)
	text-align center
	padding-bottom 10em
	cf()
	small
		margin-top 1.4em
		display block
	p.explanation
		padding .7em 0 2.5em 0
		letter-spacing .4px
	.logo
		padding 4.6em 0 4em 0
		img
			height 2.4em
	.split
		.button
			display block
			margin 0 auto
			width 100%
			max-width 24em
			height em-height
		.input + .input
			input
				margin-top .7em
		& + .split
			margin-top 1.6em

ul.options
	margin-bottom 1.4em
	li
		padding .4em 0
		display inline-block
		vertical-align top
		a
			color text-lighter-link
			cursor pointer
			&:hover
				color text-lighter-link-hover
		&.active a
			color primary-color
		& + li
			margin-left 2.8em

nav.nav
	display block
	width 100%
	height 4em
	background-color #fff
	relative top left
	z-index 2000
	fixed top left
	&.sub
		background-color transparent
		position relative
		z-index 1800
		width 100%
		display block
		cf()
		height auto
		margin 4.2em 0 0 0
		h4.what
			padding 2.1rem 0 0 0
			vertical-align top
			float left
			font-size 2em
			font-weight 800
		h6.what
			padding 2.8rem 0
			display block
			vertical-align top
			float right
			font-weight 400
			span
				font-weight 500
		.actions
			relative top 2.7em
			.button + .button
				margin-left 1.3rem
	.float-right
		& > *
			display inline-block
			vertical-align top
	.logo
		img
			height 1.4em
			relative top 1.3em
			cf()
	.user
		line-height 1.5em
		relative top 1.22em
		cursor pointer
		&:hover span, &.open span
			color text-grey
		span
			vertical-align top
			text-transform capitalize
			margin-left .6em
			color text-light
			transition .14s ease all
		img
			height 1.66em
			border-radius 50%

	ul.options
		line-height 3.1em
		padding-right 2em
		margin 0
		li
			a
				transition .14s ease all
				color text-lighter
				font-weight 500
			i
				color text-lighter
				relative top .25em
				&:hover
					color inherit
			&.active
				a, i
					color primary-color
					font-weight 600
			& + li
				margin-left 2.4em

.inner
	padding 2.6em 0
	h2.what
		margin-bottom 1.2em
		font-size 2.1em
	h3.what
		margin-bottom .8em
		font-size 1.1em
	h4.what
		font-weight 800
	h6.what
		color text-light
	&#settings
		.section
			display none
			margin-top 0 !important
			&#profile
				display block
		.list
			margin-top 1.1rem
			border-top 1px solid border-gray
			padding-top 1em
		.item
			padding .8rem 0
			&.active
				a
					color color-primary
					opacity 1
					padding .14em 0 .14em 1.3em
					&:before
						height 100%
						absolute left top
						width 2px
						background-color color-primary
						content ''
						display block
			a
				font-weight 500
				padding .14em 0 .14em 0
				position relative
				font-size 1.1em
				opacity .6
				&:hover
					color color-primary
					opacity 1
		.input h6
			font-size font-size-standard
			line-height 1em
			color body-color
			font-weight 400
			margin-bottom .6rem

.section
	padding 2.3em 3em
	border-radius border-radius-normal
	background-color #fff
	box-shadow: 0 1px 1px 0 box-shadow-gray
	.sub
		display block
		padding .3em 0 .7em 0
		border-bottom 1px solid border-gray
		width 100%
		cf()
		font-size 1.4em
		margin-bottom 1.6em
		& > h3
			font-size 1em
		& > p
			font-size 1rem
			color text-light
	.input + .input
		margin-top 2.2em
	& + .section
		margin-top 2em
	.button
		margin-top 1.4em
	&.note
		text-align center
		font-weight 600
		position relative
		padding 3.5em 0 0 0
		.type
			margin .6em 0
			display block
			text-transform uppercase
			color text-lighter
			font-weight 900
			font-size .8em
		.body
			padding 0 4em 3em 4em
		.footer
			text-align left
			padding 1em 2em
			font-size .8em
			border-top 1px solid border-gray
			cf()
			.created
				float left
				vertical-align top
			.date
				float right
				vertical-align top
		&:hover
			border-color color-primary
			cursor pointer
			h4
				color color-primary
		h4
			font-size 1.8em
		p
			color text-light
			font-weight 400
			margin-top 1em
.nosub
	margin-top 4.2em

.notes
	+below('s')
		.xs-12 + .xs-12
			margin-top 1.5rem
	& + .notes
		margin-top 2.6rem
	.desc
		margin-bottom 1.6rem
		& > *
			display inline-block
			vertical-align top
		.button
			margin-top .08rem
			float right
		span
			height 2.6rem
			background-color color-red
			text-align center
			color #fff
			font-weight 600
			line-height 2.7rem
			text-transform uppercase
			font-size 1.3em
			border-radius border-radius-normal
			width 2.6rem
			margin-right 1.3rem
	.note
		padding 1.3rem 1.6rem 1.5rem 1.6rem
		background-color #fff
		position relative
		border-radius border-radius-normal
		border 1px solid #fff
		&:hover
			border-color color-primary
		&.new
			display none
		&.open
			border-right 3px solid color-primary
		h6
			font-weight 600
		p
			color text-light
			overflow ellipsis
		small
			margin-top 1em
			display block
			color text-lighter

.display
	.empty
		display none
		i
			color color-red
			margin-bottom .2em
			font-size 4em
		p
			line-height 1.8em
			color text-light
	.fit
		background-color color-smoke
		border-top 1px solid color-smoke
	.filled
		background-color #fff
		height 100%
		width 100%
		padding 3.3em 4em
		overflow-y auto
		overflow-x hidden
		.note_header
			margin-bottom 2.4em
			position relative
			&::after
				height 1px
				width 4em
				content ' '
				absolute bottom -1.2em left 4.25em
				background-color border-gray
			& > *
				display inline-block
				vertical-align top
			&-avatar
				margin-right 1em
			img
				height 3.25em
				width 3.25em
				border-radius border-radius-xl
			small
				color text-lighter
				line-height 1.4em
			h3
				font-weight 600
				line-height 1em
				&[contenteditable=true]:empty:before
					content attr(placeholder)
					display block
				&:focus
					&[contenteditable=true]:empty:before
						color text-lightest
.recent + .recent
	margin-top 1.4em

.unit
	background-color #fff
	border-radius 0
	padding 1.2rem 1.4rem
	border-left 1px solid border-gray
	border-right 1px solid border-gray
	position relative
	width 100%
	cf()
	&.new
		display none
	.info
		display inline-block
		float right
		padding .4rem 0
		cf()
		h6
			display inline-block
			font-size 1em
			color text-light
			& + h6
				margin-left .7em
			i
				relative top 3px
				font-size 1em
				margin 0 .2em
				color text-lightest
	.content
		padding-left 3.5rem
		display inline-block
		.title
			display block
			a
				line-height 1.4em
				font-size 1.2em
				color text-grey
				font-weight 600
				&:hover
					cursor pointer
					color color-primary
		h6
			&.members
				color text-light
				float right
				font-size 1em
				relative top -.8rem
			&.info
				i
					margin-left .3em
					color text-lighter
		small
			color text-light
			font-weight 500
			line-height 1.4em
	.text-preview
		height 2.5rem
		width 2.5rem
		absolute left 1.4rem
		line-height 2.5rem
		font-size 1.2em
		text-shadow rgba(63, 81, 105, 0.19) 1px 1px 8px
		color #fff
		font-weight 800
		text-align center
		border-radius border-radius-normal
	&:first-of-type
		border-radius border-radius-normal border-radius-normal 0 0
		border-top 1px solid border-gray
	&:last-of-type
		border-radius 0 0 border-radius-normal border-radius-normal
		border-bottom 1px solid border-gray
	& + .unit
		border-top 1px solid border-gray

.editor
	background-color #fff
	display none
	height 100%
	width 100%
	fixed top left
	z-index 9400
	.options
		border-bottom 1px solid border-gray
		padding .7em 2em
		cf()
		.close
			margin-left 1em
			padding-left 1em
			border-left 1px solid border-gray
			display inline-block
			vertical-align top
		& > *
			a.button
				& + .dropdown
					margin-left 1em
					.menu
						margin-top .4em
			h6
				display inline-block
				vertical top
				color text-light
				line-height 1.9em
				&.team
					font-weight 600
					color text-grey
				& + h6
					margin-left 1em
					padding-left 1em
					border-left 1px solid border-gray

.editable
	width 100%
	max-width 740px
	display block
	margin 0 auto
	.note_headroom
		padding 2em 0
		margin-top 2em
		small
			color text-light
			line-height 1.5em
		h3
			line-height 1em
			font-weight 800
