.switches
	absolute top 2em left -.2em
	font-size 1.2em
	display none
	max-width 16em
	width 100%
	background-color #fff
	box-shadow 0 1px 6px 1px rgba(0,0,0,0.05)
	border-radius border-radius-normal
	overflow hidden
	&.right
		right -.2em
		left auto
	.switch
		font-size 1em
		display block
		padding 1.2em 1.5em
		height auto
		line-height auto
		border 1px solid border-gray
		border-radius 0
		color text-button-default
		cursor pointer
		font-weight 600
		line-height 1.3em
		span
			color text-light
			font-size .8em
			display block
			font-weight 400
		&:hover
			background-color background-light-gray
		& + .switch
			border-top 0
		&:first-of-type
			border-radius border-radius-normal border-radius-normal 0 0
		&:last-of-type
			border-radius 0 0 border-radius-normal border-radius-normal

.button
	display inline-block
	position relative
	overflow hidden
	border-radius border-radius-normal
	color text-button-default
	background-color background-light-gray
	outline 0
	padding 1em 2.1em
	text-align center
	border 0
	font-size 1em
	cursor pointer
	transition all 0.2s ease
	vertical-align top
	height em-height
	line-height 1.3em
	font-weight 600
	&.transparent
		background-color transparent
	&.block
		width 100%
	&.sm
		padding .8em 1.5em
		height auto
		line-height auto
	&.slim
		padding .4em 1.1em
		height auto
		line-height auto
		&.hasicon
			height 2.2em
			padding .4em 1.4em
			cf()
			i
				width 1.4rem
				font-size 1.3em
				absolute top 6px left .7rem
	&.outlined
		box-sizing border-box
		background-color transparent
		box-shadow inset 0px 0px 0px 1px background-light-gray
		color text-button-default
		&.white
			color #fff
			&:hover
				color text-button-default
	&:hover
		box-shadow none
		background-color darken(background-light-gray, 6%)
	for clr in ('red' 'orange' 'yellow' 'green' 'teal' 'blue' 'violet' 'purple' 'pink' 'brown' 'grey' 'black' 'primary')
		&.{clr}
			btn-color(clr)
			btn-background(clr)
			&.outlined
				btn-color-outlined(clr)
				background-color transparent
				btn-border(clr)
			&:hover
				btn-color(clr)
				btn-background-hover(clr)
	&.labeled
		padding 0 1.4em 0 4em
		i
			absolute top left
			width 2.6em
			background-color rgba(0, 0, 0, 0.1)
			text-align center
			color #fff
			height 100%
			font-size 1em
			line-height em-height
		&.labeled-right
			padding 0 4em 0 1.4em
			i
				absolute top right
				left auto
	&.icon
		padding 0 0.8275em
	&:hover
		color hover-text-button-default
		background-color hover-background-light-gray

.button-group
	cf()
	&.to-right
		.button
			float right
			& + .button
				margin-right 1em
	.button + .button
		margin-left 1em
