.input
	position relative
	font-style normal
	&.sm
		margin-right 1.4rem
		input
			padding 0.84em 4em 0.84em 1.3em
			height auto
			min-width 17em
		a
			absolute right 1em top .8em
			color text-light
			i
				font-size 1.4em
	input[disabled], &.disabled
		opacity .45
		cursor default
		pointer-events none
	input, textarea
		font-family font-family-standard
		font-size font-size-standard
		color text-grey
		margin 0
		font-size 1em
		max-width 100%
		outline 0
		border-radius border-radius-normal
		text-align left
		border 1px solid color-smoke
		transition border-color 0.14s ease
		padding 1em 1.3em
		background-color color-smoke
		height em-height
		min-width 28em
		transition all .14s ease
		text-shadow 1px 1px 1px 1px rgba(0,0,0,0.005)
		text-rendering optimizeLegibility !important
		-webkit-font-smoothing antialiased !important
		&.lg
			min-width 24em
		&.error
			border-color color-red
		&:focus
			border-color dark-color-smoke
			background-color #fff
		+placeholder()
			color lighten(body-color, 20%)

	textarea
		&:not([rows])
			min-height 8em
			max-height 22em
		line-height 1.2em
		min-height 3em
		width 100%
		resize vertical
	&.block
		input
			max-width none
			width 100%
	&.transparent
		input
			padding 0
			background-color transparent
			border 0
.action
	input
		border-radius border-radius-normal 0 0 border-radius-normal
		display inline-block
		vertical-align top
		& + .button
			border-radius 0 border-radius-normal border-radius-normal 0
			display inline-block
			vertical-align top
			font-size font-size-standard
	.button
		border-radius border-radius-normal 0 0 border-radius-normal
		display inline-block
		vertical-align top
		font-size font-size-standard
		& + input
			border-radius 0 border-radius-normal border-radius-normal 0
			display inline-block
			vertical-align top
