.module
	position relative
	background-color #fff
	padding 1rem 1rem 1rem 2.9rem
	border-top 1px solid border-gray
	p
		i
			absolute left 1rem top 1.1rem
			font-size 1.4em
	a
		color color-primary
		font-weight 600
		&:hover
			color color-primary
	&:last-of-type
		border-bottom 1px solid border-gray
	span
		color text-lighter
		margin-left .1em
		font-size 1em
		letter-spacing -.02em
		float right
		a
			&.clr-accept:hover
				color color-green !important
			&.clr-decline:hover
				color color-red !important
			& + a
				margin-left 1.2rem

.module + .divider.horizontal
	margin-top 2em
