.module
	position relative
	background-color #fff
	padding 1.3em 2em 1.3em 3.5em
	border-top 1px solid border-gray
	p
		i
			absolute left 1em top .9em
			font-size 1.4em
	a
		color color-primary
		font-weight 600
		&:hover
			color color-primary
	&:last-of-type
		border-bottom 1px solid border-gray
	span
		color text-lighter-link
		margin-left .1em
		font-size .875em
		letter-spacing -.4px
		float right

.module + .divider.horizontal
	margin-top 2em
