*,
*:before,
*:after
	box-sizing inherit


html
	height 100%
	width 100%
	box-sizing border-box

body
	font-family font-family-standard
	font-size font-size-standard
	color text-grey
	min-height 100%
	width 100%
	margin 0

::-webkit-scrollbar
	width 0px
::-webkit-scrollbar-track-piece
	background-color transparent

for h in (1..6)
	h{h}
		font-size lookup('font-size-h' + h)
		color body-dark
		font-weight 800
		line-height 1.7em
		letter-spacing -.02em

::selection
	color black
	background-color lighten(primary-color, 80%)

a
	color text-link
	text-decoration none
	cursor pointer
	&:hover
		color text-link-hover

p
	line-height 1.7em
	font-weight 500

small
	font-size .875em

strong
	font-weight 700

footer
	position relative
	margin-top -5rem
	cf()
	&.shard
		background-color #fff
		&.presentation
			display none
		ul.options
			border-top 0
	.home
		cursor pointer
		&:hover
			img
				opacity .8
		img
			width 34px
			absolute left 50% top 30px
			margin-left -17px
			opacity .4
			transition opacity .14s ease
	ul.options
		border-top 1px solid border-gray
		margin 0
		padding 1.7rem 0
		li
			a,p
				line-height 1rem
				font-size .825rem
				font-weight 500
			& + li
				margin-left 1.4rem
