head
	title= title
	block head
	link(rel="stylesheet", type="text/css", href="//fast.fonts.net/cssapi/07e02482-2bd4-4f0c-a157-69f459e594d7.css")
	link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", type="text/css", href="/css/medium-editor.min.css")
	link(rel="stylesheet", type="text/css", href="/css/showtime.css")
	link(rel="stylesheet", type="text/css", href="/css/iziToast.css")
body(class=typeof light === "undefined" ? "" : "light")
	block content
