.modal#modal_team
	.overlay
		.cell
			.content
				h4 Create new team
				.input.block
					input(type="text", placeholder="name")
				.button-group.clearfix
					a.button.green.float-right Create Team
