.modal#modal_invite
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Invite a member
					p A new member will have access to all team notes and will be instantly allowed to collaborate within the editor.
					.input.block.form
						input#member-email(type="text", placeholder="Members email address")
					.button-group.clearfix.to-right
						a.button.green(data-run="invite_member") Invite Member
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red

.modal#modal_team
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Create a new team
					p A team is a group of people amomg who notes are shared between and allows live collaboration between members.
					.input.block.form
						input#input-new_team(type="text", placeholder="Enter your team name eg: 'Design Team'")
					.button-group.clearfix.to-right
						a.button.green(data-run="new_team") Create Team
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red

.modal#modal_publish
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Publish your note
					p Publishing a team note will make it available to your team or private notes immediately. Once published, you can't revert the note back to a draft.
					.button-group.clearfix.to-right
						a.button.green(data-run="publish_note") Publish
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red

.modal#modal_about
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 About the note editor
					p The note editor is an area where you can collaborate on notes together with the team assigned to the note or just use it for personal notes.
					br
					p Within the editor, you can drag in images to your document and amend text just by selecting what you want to edit.
					br
					p When notes are not published, they are automatically saved as drafts and will not be made available to teams. Once you are ready to publish your note, just tap the green "Publish" button in the top right of the editor.

.editor
	.options
		.float-left
			a.toggle.button.slim.transparent.hasicon(data-run="close_editor") #[i.material-icons arrow_back]
			h6.team
			h6 Created just now
		.float-right
			a.button.slim.outlined Share
			.dropdown.right
				a.toggle.button.slim.outlined.hasicon #[i.material-icons more_horiz]
				ul.menu
					li #[a Keyboard shortcuts]
					li #[a(data-modal="open", data-modal-name="modal_about") Learn more]
					li.divider
					li #[a Copy link]
					li #[a Create public link]
					li.divider
					li #[a.color-red Delete post]
			.publish
				a.button.slim.green(data-modal="open", data-modal-name="modal_publish") Publish

	.editable
		.note_headroom
			if (user)
				p
					span.user= user.firstname + ' ' + user.lastname
					span.type.draft
			h3(contenteditable="true")
		.note_content
