.modal#modal_team
	.overlay
		.close
			i.ion-close-round
		.cell
			.content
				.inside
					h5 Create a new team
					p A team is a group of people amomg who notes are shared between and allows live collaboration between members.
					.input.block.form
						input#input-new_team(type="text", placeholder="Enter your team name eg: 'Design Team'")
					.button-group.clearfix.to-right
						a.button.green(data-run="new_team") Create Team
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red You'll need to enter a name for your team!

.modal#modal_publish
	.overlay
		.close
			i.ion-close-round
		.cell
			.content
				.inside
					h5 Publish your note
					p Publishing a team note will make it available to your team or private notes immediately. Once published, you can't reverse the note to a draft again.
					.button-group.clearfix.to-right
						a.button.green Publish
						a.button(data-modal="close") Cancel

.editor
	.options
		.float-left
			h6.team
			h6.draft
		.float-right
			a.button.slim.primary Share
			.dropdown.right
				a.toggle.button.slim.outlined Options #[i.material-icons keyboard_arrow_down]
				ul.menu
					li #[a Keyboard shortcuts]
					li #[a Learn more]
					li.divider
					li #[a Copy link]
					li #[a Create public link]
					li.divider
					li #[a.color-red Delete post]
			.publish
				a.button.slim.green(data-modal="open", data-modal-name="modal_publish") Publish

	.editable
		.note_headroom
			small Stefan Mansson
			h3(contenteditable="true")
		.note_content

	.options.bottom
		.float-left
			h6 Created just now
		.float-right
			.close
				a.button.slim.default(data-run="close_editor") Back to notes
