input#hidden_copy(type="text")

.modal#modal_invite
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Invite a member
					p A new member will have access to all group notes and will be instantly allowed to collaborate within the editor.
					.input.block.form
						input#member-email(type="text", placeholder="Members email address")
					.button-group.clearfix.to-right
						a.button.green(data-run="invite_member") Invite Member
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red

.modal#modal_group
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Create a new group
					p A group is a group of people amomg who notes are shared between and allows live collaboration between members.
					.input.block.form
						input#input-new_group(type="text", placeholder="Enter your group name eg: 'Design Group'")
					.button-group.clearfix.to-right
						a.button.green(data-run="new_group") Create Group
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red

.modal#modal_publish
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Publish your note
					p Publishing a group note will make it available to your group or private notes immediately. Once published, you can't revert the note back to a draft.
					.button-group.clearfix.to-right
						a.button.green(data-run="publish_note") Publish
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red

.modal#modal_delete
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Delete this note?
					p #[b.text-red Important:] You will not be able to retrieve any information back once this note is deleted. All versioning will be cleared and the note will be removed from all affected workspaces.
					.button-group.clearfix.to-right
						a.button.red(data-run="delete_note") Delete
						a.button(data-modal="close") Cancel
				.error.text-center
					.why.text-red

.modal#modal_about
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 About the note editor
					p The note editor is an area where you can collaborate on notes together with the group assigned to the note or just use it for personal notes.
					br
					p Within the editor, you can drag in images to your document and amend text just by selecting what you want to edit.
					br
					p When notes are not published, they are automatically saved as drafts and will not be made available to groups. Once you are ready to publish your note, just tap the green "Publish" button in the top right of the editor.
					.button-group.clearfix.to-right
						a.button(data-modal="close") Close

.modal#share_note
	.overlay
		.close
			i.material-icons clear
		.cell
			.content
				.inside
					h5 Share note?
					p Sharing this note will make it public and accessible by everyone. This means a public link will be created and can be shared to other Notekeep users or guests.
					br
					p.text-green You can make the note group-only again after it's been made public.
					.input.block.form
						input#input-shared_link.disabled.display(type="text", disabled="true")
					.button-group.clearfix.to-right
						a.button.green(data-run="share_note") Share note
						a.button(data-modal="close") Cancel

.editor
	.options
		.float-left
			a.toggle.slim.invert.hasicon.return(data-run="close_editor") #[i.material-icons arrow_back]
			h6.group
			h6 Created just now
		.float-right
			.dropdown.right.priority
				a.toggle.slim.invert.hasicon(data-status="0") #[i.material-icons.text-green lens] Low priority
				ul.menu
					li #[a(data-run="chg_priority", data-status="0") #[i.material-icons.text-green lens] Low priority]
					li #[a(data-run="chg_priority", data-status="1") #[i.material-icons.text-yellow lens] Medium priority]
					li #[a(data-run="chg_priority", data-status="2") #[i.material-icons.text-red lens] High priority]
			a.slim.invert.share Share...
			.dropdown.right
				a.toggle.slim.invert.hasicon.more #[i.material-icons more_horiz]
				ul.menu
					li #[a Keyboard shortcuts]
					li #[a(data-modal="open", data-modal-name="modal_about") Learn more]
					li.divider
					li.copy_link #[a(data-run="copy_shared_link") Copy share link]
					li.create_link #[a(data-modal="open", data-modal-name="share_note") Create public link]
					li #[a(data-run="presentation_mode") Presentation mode]
					li.delete_note.divider
					li.delete_note #[a.color-red(data-modal="open", data-modal-name="modal_delete") Delete note]
			.publish.invert
				a.slim(data-modal="open", data-modal-name="modal_publish") Publish note
			a.slim.invert.hasicon.open.toggle_comments(data-run="toggle_comments") #[i.material-icons last_page]
	.options.presentation_tools
		.float-left
			a.toggle.slim.invert.hasicon.return(data-run="presentation_mode") #[i.material-icons close]
			h6.group
			h6.present Presenation mode
		.float-right
			.dropdown.right
				a.toggle.slim.invert.hasicon.more #[i.material-icons more_horiz]
				ul.menu
					li #[a Keyboard shortcuts]
					li #[a(data-modal="open", data-modal-name="modal_about") Learn more]
					li.divider
					li #[a(data-modal="open", data-modal-name="share_note") Create public link]
					li #[a(data-run="presentation_mode") Leave presentation mode]

	.editable
		.note_container
			.note_editable
				.note_headroom
					svg.avatar#note-avatar(data-jdenticon-hash=user.avatar)
					.note_desc
						p
							span.user= user.firstname + ' ' + user.lastname
							span.type.draft
						h3(contenteditable="true")
				textarea.note_content
	.comments
		.comments_container
			.comments_display
			.comments_input
				.comments_who
					svg.comments-avatar(data-jdenticon-hash=user.avatar)
					span.user= user.firstname + ' ' + user.lastname
				.comments_write#comment_new(contenteditable="true", placeholder="Write a comment")
				small Hit enter to send
