script(type='text/html', id='tpl-teams')
	.unit.new
		.text-preview(style!="background-color:<%= color %>")
			span!= '<%= initial %>'
		.content
			.title
				a(href!="/team/<%= _id %>")!= '<%= name %>'
			small!='Created by <%= firstname %> <%= lastname %>'
		.info
			h6.members #[i.material-icons person_outline]
				| <%= members %>
			h6.notes #[i.material-icons book]
				| 0

script(type='text/html', id='tpl-editor_status')
	span.user!='<%= firstname %> <%= lastname %>'
	span.type(class!="<%= status %>")
